/*!
Theme Name: Android Thermostat theme  
Theme URI: http://androidthermostat.com/
Github Theme URI: https://github.com/AndroidThermostat/WordPress-theme
Description: Child theme of WordPress 2012
Author: Patrick Forringer <patrick@forringer.com>
Version: v0.0.1
Template: twentytwelve
*/

@import url('../twentytwelve/style.css')
 
@import 'nib'

